*{
    padding: 0;
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(150, 137, 137);
    color: white;
}

body {
    font-size: 26px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

header h1 {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

#my-work {
   padding: 100px 0px 
}

header nav ul li a {
    color: white;

} 

header nav ul li a:hover {
    border-style: solid;
    background-color: rgb(150, 137, 137);
 }

main {
    padding: 10px;
    margin: 30px;
    justify-content: center;
}

section {
    margin-bottom: 100px;
    
}

.main-content {
    border: 1px solid #ccc;
    padding: 26px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    
    
}


.float-left {
    width: 200px;
    border-radius: 30px;
    border: solid;
    
}

.float-right {
    width: 250px;
    border-radius: 30px;
    border: solid;
}


.main-content:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-me {
    display: flex;
    justify-content: center;
}

#contact-me nav ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    list-style: none;
    flex-direction: column;
}

#contact-me nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 20px;
    font-size: 20px;
   text-align: center;
}

#contact-me nav ul li a:hover {
    border-style: solid;
    background-color: rgb(150, 137, 137);
 }



@media screen and (min-width: 640px){
    header{
        padding: 10px;
    }
    main{
        font-size: 20px;
    }
}



@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header ul {
        width: 500px;
    }

    .main-content {
        flex-direction: row;
    }
    .main-content div {
        width: 50%
    }
    .main-content img {
        margin: 0;
    }
    main {
        font-size: 23px;
    } 
    .float-right {
        width: 400px;
    }
}

@media screen and (min-width: 1024px){
    header {
        justify-content: space-around;
    }
    .main-content {
        max-width: 1600px;
        margin: 90px auto;
    }
    .main-content div {
        width: 70%;
        max-width: 800px;
    }
    main {
        font-size: 26px
    }
    #contact-me nav ul {
        flex-direction: row;
    }
}
  
  
  